@tailwind base;
@tailwind components;
@tailwind utilities;

/* bellow is the example of how to combine classes under one class
@layer components {
    .btn-primary {
      @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
    }
  } */

/* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  top: 10px;
  z-index: 1;
} */

.tooltip:hover .tooltiptext {
  display: block;
}
